services:
  photos:
    build:
      args:
        build: true
      target: stage1
    container_name: photos
    environment:
      NODE_ENV: production
    image: git.dylan.is/dylan/photos:latest
    ports:
      - 80:80/tcp
    restart: unless-stopped
    volumes:
      - ./images.db-shm:/app/images.db-shm
      - ./images.db-wal:/app/images.db-wal
      - ./images.db:/app/images.db
