#!/usr/bin/env sh
# Just the AWS config info
export Bucket='bucket'
export IdentityPoolId='us-east-1:anonymous-identity-pool'
export region='us-east-1'

# My IP address, used to restrict who can call /recache endpoint
export PUBLIC_IP='255.255.255.255'
