html
  head
    title="photos"
    link(rel='stylesheet', type='text/css', href='/photos/css/index.css')
    link(rel='preload', href='/photos/fonts/mukta-all-400-normal.woff', as='font', type='font/woff', crossorigin='anonymous')
    link(rel='preload', href='/photos/fonts/mukta-latin-400-normal.woff2', as='font', type='font/woff2', crossorigin='anonymous')

  body
    header
      h1="trips"

    each album in albums
      a(href=album + "/1")=album
