:root {
  --black: #151515;
  --white: #fafafa;
}

@font-face {
  font-family: Mukta;
  font-style: normal;
  font-display: swap;
  src: local('Mukta Regular'),
    local('Mukta-Regular'),
    url(/photos/fonts/mukta-latin-400.woff2) format('woff2'),
    url(/photos/fonts/mukta-latin-400.woff) format('woff')
}

@font-face {
  font-family: Mukta;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Mukta Bold'),
    local('Mukta-Bold'),
    url(/photos/fonts/mukta-latin-700.woff2) format('woff2'),
    url(/photos/fonts/mukta-latin-700.woff) format('woff')
}

html {
  box-sizing: border-box;
  line-height: 1.15;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background: var(--white);
  color: var(--black);
  font-family: Mukta, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  letter-spacing: -.25px;
  margin: 0;
}

h1,
h4 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  font-size: 1.2rem;
  width: 100%;
}

td,
th {
  border: 1px solid #1f1f1f;
  padding: 0.45rem;
  text-align: left;
}

th {
  font-size: 1.2rem;
}

tr th:nth-child(3),
tr td:nth-child(3) {
  display: none;
}

.album a,
.album span,
.navigation a {
  font-size: 1.3rem;
  margin-right: 20px;
}

.navigation {
  margin-bottom: 10px;
}

.container {
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  align-self: flex-end;
  margin: 0 auto;
  padding: 5px;
}

figure {
  margin: 0;
}

figcaption {
  background: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
  margin-top: -5px;
  padding: 1rem;
}

figcaption p {
  margin: 0;
}

@media (min-width: 576px) {
  tr th:nth-child(3),
  tr td:nth-child(3) {
    display: table-cell;
  }

  table {
    width: max-content;
  }
}

@media (max-width: 768px) {
  figure img {
    width: 256px;
  }
}

@media (min-width: 768px) {
  .block {
    margin: 0;
  }
}
