@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  src:
    local('Poppins'),
    url(/photos/static/poppins-latin-400-normal.woff2) format('woff2'),
    url(/photos/static/poppins-latin-400-normal.woff) format('woff');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Poppins Bold'),
    url(/photos/static/poppins-latin-700-normal.woff2) format('woff2'),
    url(/photos/static/poppins-latin-700-normal.woff) format('woff');
}

.backdrop-blur-safari {
  /* Fix for Safari */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
